/* I started with crimson and picked colors that will work with that.  Don't judge me.  But creamsicles sure are tasty!  */
body {
    background: #FEFEFE;
}

.jumbotron {
    color: #00072B;
    background: #BDC5C8 ;
}

.col-sm-12 {
    color: #BDC5C8  ;
    background: #00072B;
}

.col-sm-4 {
    border-color: #00072B;
    /*border: 1px solid #00072B;*/
    color: #00072B;
    background: #BDC5C8;
}

select,button {
    color: #00072B;
}

a {
    /* includes a:link */
    color: #00362C;
}

a:hover, a:visited {
    color: #FEFEFE;
}

a:active {
     color: #00362C;
}
