/* I started with crimson and picked colors that will work with that.  Don't judge me.  But creamsicles sure are tasty!  */
body {
    background: #FEFEFE;
}

.jumbotron {
    color: #00072B;
    background: #BDC5C8  ;
    text-align: center;
}

/*#headertext {*/
    /*position:relative;*/
    /*left: 125px;*/
/*}*/

.col-sm-12 {
    color: #BDC5C8  ;
    background: #00072B;
    border-radius: 5px;
}

#summary{
    margin-bottom: 10px;
}

#footer {
    text-align: center;
}

.row {
    margin-bottom: 10px;
}
.col-sm-4 {
    border: 1px solid #00072B;
    color: #00072B;
    background: #BDC5C8  ;
    border-radius: 5px;
    min-height: 100px;  /* this just evens out the cell size so only a really long description will expand the cell */
}

select,button {
    color: #00072B;
}

.glyphicon-pushpin {
    font-size:200%;
}

a {
    /* includes a:link */
    font-style: italic;
    text-decoration: underline;
    color: #00362C;
}

a:hover, a:visited {
    color: #FEFEFE;
}

a:active {
     color: #00362C;
 }

/* styling for spirograph pseudologo*/
.jumbotron div{
    border:none;
    background: none;
}

#logo {
    position: relative;
    height: 200px;  /* the height of the canvas element it's holding */
}

#spiroCanvas {
    position: relative;
    width: 201px;
    margin: 0 auto;
}

#spiro {
    position: absolute;
    top: 0px;
    left: 0px;
}
#inset {
    font-size: 300%;
    position: absolute;
    top: 75px;
    left: 80px;
}