/* I started with crimson and picked colors that will work with that.  Don't judge me.  But creamsicles sure are tasty!  */
/* This is the stylesheet for creamsicle color scheme*/
body {
    background: #FF6400;
}

.jumbotron {
    color: crimson;
    background: #FFC8A4;
    text-align: center;
}

.col-sm-12 {
    color: #FFC8A4;
    background: crimson;
}

.col-sm-4 {
    border-color: crimson;
    /*border: 1px solid crimson;*/
    color: crimson;
    background: #ffc8a4;
}

select,button {
    color: crimson;
}

a {
    /* includes a:link */
    color: #00362C;
}

a:hover, a:visited {
    color: #FF6400;
}

a:active {
    color: crimson;
}
