/* This specifies layout settings independent of color*/
.jumbotron {
    text-align: center;
}

/*#headertext {*/
    /*position:relative;*/
    /*left: 125px;*/
/*}*/

.col-sm-12 {
    border-radius: 5px;
}

#summary{
    margin-bottom: 10px;
}

#footer {
    text-align: center;
}

.row {
    margin-bottom: 10px;
}

.col-sm-4 {
    border-width: 1px;
    border-style: solid;
    /*border: 1px solid crimson;*/
    border-radius: 5px;
    min-height: 100px;  /* this just evens out the cell size so only a really long description will expand the cell */
}

.glyphicon-pushpin {
    font-size:200%;
}

a {
    /* includes a:link */
    font-style: italic;
    text-decoration: underline;
}

/* styling for spirograph pseudologo*/
.jumbotron div{
    border:none;
    background: none;
}

#logo {
    position: relative;
    height: 200px;  /* the height of the canvas element it's holding */
}

#spiroCanvas {
    position: relative;
    width: 201px;
    margin: 0 auto;
}

#spiro {
    position: absolute;
    top: 0px;
    left: 0px;
}
#inset {
    font-size: 300%;
    position: absolute;
    top: 75px;
    left: 80px;
}